<sidebar-js>
  Sidebar Default
  <button sidebarjsClose>Close</button>
</sidebar-js>

<sidebar-js
  *ngIf="showCustomSidebar"
  sidebarjsName="sidebarCustomized"
  [sidebarjsConfig]="{position: 'right'}">
  Sidebar Customized
  <button sidebarjsClose="sidebarCustomized">Close</button>
</sidebar-js>

<div>Sidebar Default: {{isVisible()}}</div>
<div>Sidebar Customized: {{isVisible('sidebarCustomized')}}</div>

<button sidebarjsOpen>Open</button>
<button sidebarjsToggle="sidebarCustomized">toggle</button>
<button (click)="showCustomSidebar = !showCustomSidebar">show custom sidebar</button>

<button (click)="isVisibleButton = !isVisibleButton">show directive</button>
<button *ngIf="isVisibleButton" sidebarjsToggle="sidebarCustomized">toggle customized</button>
